html, body {
    height: 100%;
}

textarea {
    resize: none;
    height: calc(100vh - 300px);
}

#navbarContainer {
    max-width: 1024px;
}

.navbar-nav {
    gap: 10px;
    padding: 10px 0;
}

.posts {
    max-width: 1024px;
}

.sheet > img {
    transition: .25s;
}

.sheeted, .unsheeted:hover {
    opacity: 1;
}

.unsheeted, .sheeted:hover {
    opacity: .5;
}

.post-control {
    opacity: .25;
    transition: .25s;
}

.post-control:hover {
    opacity: .5;
}

@media screen and (min-width: 992px) {
    #navbarNavAltMarkup {
        justify-content: space-between;
    }
    .navbar-nav {
        padding: 0;
    }
}