<div class="modal fade" id="logInModalToggle" aria-hidden="true" aria-labelledby="logInModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logInModalToggleLabel">Authorization</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="logInForm" action="/sheetpost-v3/login" method="post" enctype="multipart/form-data">
                    <div class="mb-1">
                        <label class="form-label" for="logInInputUsername">Username</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="text"
                                   name="username"
                                   class="form-control"
                                   id="logInInputUsername"
                                   placeholder="Username"
                                   value="">
                        </div>
                    </div>
                    <div id="logInInputUsernameValidationLabel" class="mb-2 text-danger"></div>
                    <div class="mb-1">
                        <label class="form-label" for="logInInputPassword">Password</label>
                        <input type="password"
                               name="password"
                               class="form-control"
                               id="logInInputPassword"
                               placeholder="Password"
                               value="">
                    </div>
                    <div id="logInInputPasswordValidationLabel" class="mb-2 text-danger"></div>
                </form>
                <div id="logInFormValidationLabel" class="mb-2 text-danger"></div>
            </div>
            <div class="modal-footer justify-content-between">
                <a href="#signUpModalToggle" data-bs-toggle="modal" role="button" class="d-flex align-items-center">
                    <div>No account?</div>
                </a>
                <button id="logInEnter" class="btn btn-primary">Enter</button>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-primary" data-bs-toggle="modal" href="#logInModalToggle" role="button">Log in</a>