{% extends 'index.html.twig' %}

{% block title %}My sheets{% endblock %}

{% block noposts %}It looks like you didn't sheet any posts :({% endblock %}

{% block script %}
    <!--suppress HtmlUnknownTarget -->
    <script src="/sheetpost-v4/static/authorized.js"></script>
{% endblock %}

{% block logohref %}href="/sheetpost-v4/home"{% endblock %}

{% block myposts %}
    <a class="nav-link" href="/sheetpost-v4/myposts">My posts</a>
    <a class="nav-link active" href="/sheetpost-v4/mysheets">My sheets</a>
{% endblock %}

{% block buttons %}
    <div class="opacity-50 d-flex align-items-center">@{{ user }}</div>
    {% include 'newpost.html.twig' %}
    {% include 'logout.html.twig' %}
{% endblock %}

{% block postcontrol %}
    {% include 'editpost.html.twig' %}
    {% include 'deletepost.html.twig' %}
{% endblock %}

{% block sheetrole %}role="button"{% endblock %}