<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostModalLabel">New post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="newPostMessageText" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="newPostMessageText"></textarea>
                    </div>
                </form>
                <div class="modal-footer ps-0 pe-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newPostModal">New post</button>