<div class="modal fade" id="signUpModalToggle" aria-hidden="true" aria-labelledby="signUpModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signUpModalToggleLabel">Registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="signUp" action="index.php" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="signUpInlineFormInputGroupUsername">Username</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="text"
                                   name="username"
                                   class="form-control"
                                   id="signUpInlineFormInputGroupUsername"
                                   placeholder="Username"
                                   value="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="signUpInputPassword" class="form-label">Password</label>
                        <input type="password"
                               name="password"
                               class="form-control"
                               id="signUpInputPassword"
                               placeholder="Password"
                               value="">
                    </div>
                    <div class="mb-3">
                        <label for="signUpReEnterInputPassword" class="form-label">Re-enter password</label>
                        <input type="password"
                               class="form-control"
                               id="signUpReEnterInputPassword"
                               placeholder="Password"
                               value="">
                    </div>
                    <div class="modal-footer ps-0 pe-0 justify-content-between">
                        <a href="#logInModalToggle" data-bs-toggle="modal" role="button" class="d-flex align-items-center">
                            <div id="haveGotAnAccount">Have got an account?</div>
                        </a>
                        <button class="btn btn-primary" data-bs-toggle="modal">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-primary" data-bs-toggle="modal" href="#signUpModalToggle" role="button">Sign up</a>